/*
color list:
almond cream - #F1DAC4
lilac ash - #A69CAC
dusty grape - #474973
prussian blue - #161B33
ink black - #0D0C1D

*/
body {
	background: #F1DAC4;
	color: #0D0C1D;
}

.title {
	padding: 10px;
	text-align: center;
}

